# node_modules là thư viện tải từ npm, không cần đẩy lên Git
node_modules/

# build là file output của Webpack, có thể tạo lại
build/

# lock file của editor, VSCode, hệ điều hành
.DS_Store
Thumbs.db

# file môi trường (nếu có)
.env
.env.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings (nếu không muốn theo dõi)
.vscode/
